#root {
  max-width: 1280px;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
